@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import "tailwindcss";
/*
=====================================
======        Fonts        ==========
=====================================
*/

@theme {
  --font-fira-code: "Fira Code", monospace;
}

/* 
======================================
======        Colors        ==========
======================================
*/

@theme {
  --color-main: #111111;
  --color-sub: #1c1c1c;
}

/* 
======================================
======        Globals        =========
======================================
*/

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
  }
}

@utility max-w-8xl {
  max-width: 1800px;
}

@utility text-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

@utility dotted-underline {
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0.4) 50%,
    transparent 0
  );
  background-position: 0 1.44em;
  background-repeat: repeat-x;
  background-size: 2px 1px;
}

/* 
======================================
======         Grid          =========
======================================
*/

@utility grid-layout {
  grid-column-start: 1;
  grid-column-end: 13;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 0.75rem;
  row-gap: 0.75rem;
}

@utility grid-gap {
  column-gap: 0.75rem;
  row-gap: 0.75rem;
}
